div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated{
    /* perspective with screen inside/ooutside */
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin-left: 200px;
    transform: rotateZ(30deg);
    /* transform: perspective(200px) scaleZ(6) rotatex(45deg) rotateY(30deg); */
}