.box{
    /* Maxium height of border will be 100 px and when content excess we will use overflow property to adjust */
    max-height: 100px;
    border: 1px solid black;
    overflow: scroll;
}
.mydiv{
    margin: 10px;
    /* if content excess the given minimum height then the height of that div automatically grow and if now excessing then height will be given minimum */
    min-height: 100px;
    border: 1px solid black;
} 